.adminPanelContainer {
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.loginContainer {
    display: flex;
    gap: 4px;
}

.quotesTableContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.valueColumn{
    width: 300px;
}

.quoteInputField{
    width: 285px;
}